body {
    font-family: 'Lexend Deca', sans-serif;
    color: #fff;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: #f2f2f2;
    font-size: 40px;
    line-height: 47.88px;
    margin-top: 35px;
    margin-bottom: 25px;
}

p {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 25px;
}

.card-container {
    max-width: 920px;
}

.sedans,
.suvs,
.luxury {
    border-radius: 8px;
    padding: 48px;
}

/* Card background colors */
.sedans {
    background-color: #E28625;
}

.suvs {
    background-color: #006971;
}

.luxury {
    background-color: #004140;
}

/* Overriding bootstrap to style button border radius */
.rounded {
    border-radius: 100px !important;
}

.rounded:hover {
    color: #f2f2f2;
    border-color: #f2f2f2;
    background-color: inherit;
}

/* Screen width > 767px --> change margin between paragraph and button */
@media (min-width: 768px) {
    p {
        margin-bottom: 83px;
    }
}

/* Attribution */
.attribution {
    color: #004140;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}