/* To Do: 
- Center the whole thing horizontally on desktop
*/



body {
    font-family: 'Lexend Deca', sans-serif;
    color: #fff;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: #f2f2f2;
    font-size: 40px;
    line-height: 47.88px;
    margin-top: 35px;
    margin-bottom: 25px;
}

p {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 25px;
}

/* Cards */
.sedans,
.suvs,
.luxury {
    max-width: 327px;
}

.sedans {
    background-color: #E28625;
    border-radius: 8px 8px 0 0;
    padding: 48px;
}

.suvs {
    background-color: #006971;
    padding: 48px;
}

.luxury {
    background-color: #004140;
    border-radius: 0 0 8px 8px;
    padding: 48px;
}

/* Overriding bootstrap to style button border radius */
.rounded {
    border-radius: 100px !important;
}

.rounded:hover {
    color: #f2f2f2;
    border-color: #f2f2f2;
    background-color: inherit;
}

/* Attribution */
.attribution {
    color: #004140;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Screen width > 767px --> 
- Adjust margin between paragraph and button
- Adjust cards' border-radius 
- Adjust width */
@media (min-width: 768px) {
    p {
        margin-bottom: 83px;
    }

    .sedans {
        border-radius: 8px 0 0 8px;
    }

    .luxury {
        border-radius: 0 8px 8px 0;
    }

    .sedans,
    .suvs,
    .luxury {
        max-width: 307px;
    }
}